.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid #d1d5db;
  border-top-color: #3b82f6; 
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
