.introContainer {
  display: grid;
  grid-template-rows: 154px 1fr;
  max-width: var(--container-width);
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
}

.header {
  height: 100%;
  background: var(--blue);
  padding-left: 34px;
  padding-right: 64px;
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.imgContainer {
  max-width: 193px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #aab0d8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: 50px;
  z-index: 1;
}

.img {
  width: 100%;
  height: 100%;
}

.decor {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}

.title {
  color: var(--yellow);
  font: 700 48px / 1 var(--font-i);
}

.content {
  height: 100%;
  background: #fff;
  padding-top: 114px;
  padding-inline-end: 40px;
  padding-inline-start: 200px;
  padding-bottom: 80px;
  position: relative;
  min-height: 0;
}

.contentDecor {
  position: absolute;
  bottom: -5px;
  left: 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  min-height: 0;
  overflow: auto;
}

.contentText {
  color: var(--blue-1);
  font: 300 25px / 1.3 var(--font-i);
  border-inline-start: 5px solid var(--yellow);
  padding-inline-start: 16px;
}
