.logoHeader {
  background: var(--blue);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.trig {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  height: 100%;
}

:global(.rtl) .trig {
  transform: scaleX(-1);
}

.logoContainer {
  position: absolute;
  top: 50%;
  inset-inline-end: 80px;
  transform: translate(0, -50%);
  z-index: 1;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .logoContainer {
    transform: translate(0, -50%) scale(0.7);
  }
}
