.logoHeader {
  background: var(--blue);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.trig {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
}

:global(.rtl) .trig {
  transform: scaleX(-1);
}

.logoContainer {
  position: absolute;
  top: 50%;
  inset-inline-end: 140px;
  transform: translate(0, -50%);
  z-index: 1;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
