.writingContent {
  padding: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-height: 0;
}

body:has(.question) :global(.questionFooterWriting) {
  display: none;
}

body:has(.answer) :global(.questionFooterText) {
  display: none;
}

