.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000080;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  position: absolute;
  inset-inline-end: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
  background: transparent !important;
  padding: 0;
  border: none !important;
  width: 0;
  transform: translate(calc(-100% + 45px), calc(-100% - 15px)) scale(1.5);
}

.modalWrapper {
  max-width: 700px;
  width: 100%;
  max-height: 90%;
  background: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  width: 100%;
  margin-bottom: 30px;
  min-height: 0;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font: 700 32px/1 var(--font-i);
  text-align: center;
  margin: 0;
}

.subtitle {
  font: 400 18px/1 var(--font-i);
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.yes,
.no {
  padding: 10px 50px;
  font: 400 22px/1 var(--font-i);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  max-width: 190px;
  width: 100%;
  border: 1px solid #ed2374 !important;
}

.yes {
  background: #ed2374 !important;
  color: #fff !important;
}

.no {
  background: transparent !important;
  color: #ed2374 !important;
}
