.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  min-height: 0;
}

@media (max-width: 1280px) {
  .wrapper {
    grid-template-columns: 1fr;
    height: max-content;
    min-height: auto;
    box-sizing: border-box;
  }
}
