.container {
  background: #d2dae5;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.title {
  font: 700 32px/1 var(--font-i);
  margin-bottom: 32px;
}

.actions {
  display: flex;
  gap: 10px;
  padding: 5px;
  border: 1px solid #000000 !important;
  width: max-content;
  margin-bottom: 10px;
  background: transparent !important;
}

.action {
  width: 70px;
  height: 39px;
  border: 1px solid #000000 !important;
  border-radius: 0 !important;
  font: 700 16px/1 var(--font-i);
  color: #000000 !important;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action span {
  color: #000 !important;
}

:global(.rsw-toolbar) {
  background: transparent !important;
}

:global(.rsw-editor) {
  height: 100%;
}

:global(.rsw-ce) {
  height: 100%;
  background: #fff;
  outline: none !important;
  overflow: auto;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  font: 400 18px/1.4 var(--font-i) !important;
  color: #000 !important;
}

:global(.rsw-ce) * {
  font: 400 18px/1.4 var(--font-i) !important;
  color: #000 !important;
}

:global(.rsw-ce) b {
  font-weight: 500;
}
:global(.rsw-btn) {
  background: transparent !important;
  width: 100% !important;
  height: 100% !important;
  color: #000 !important;
}

:global(.rsw-ce) u {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.editorContainer {
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px;
  border-radius: 30px;
  font: 400 22px/1 var(--font-i);
  cursor: pointer;
}

.sendButton {
  background: #fff !important;
  border: 1px solid #ed2374 !important;
  color: #30326d !important;
}

.saveButton {
  background: #ed2374 !important;
  border: 1px solid #ed2374 !important;
  color: #fff !important;
}

.autoSaveNotice {
  text-align: center;
  color: #30326d;
  font: 400 16px/1 var(--font-i);
}
