.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.title {
  font: 700 32px/1 var(--font-a);
}

.text  {
  font: 400 18px/1.4em var(--font-a) !important;
  color: #000 !important;
}

.audioContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.questionImgContainer {
  max-width: 100%;
}

.questionImg {
  width: 100%;
}

.audioButton {
  flex-shrink: 0;
}

.audioButton.ltr {
  transform: rotate(180deg);
}
