.questionContainer {
  display: grid;
  grid-template-columns: 1fr 345px;
  grid-template-rows: 1fr 105px;
  height: 100%;
  width: 100%;
  place-items: center;
}

.questionContent {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  min-height: 0;
}

.questionAside {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  position: relative;
  background: var(--blue-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.questionFooter {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  height: 100%;
  background: var(--blue-2);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-inline-end: 120px;
  position: relative;
}

.questionFooterText {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font: 400 32px / 1 var(--font-a);
  text-align: center;
}

.questionFooterActions {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.questionAsideTop {
  position: absolute;
  top: 0;
  right: 0;
}

.questionAsideBottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

:global(.rtl) .questionAsideBottom,
:global(.rtl) .questionAsideTop {
  transform: scaleX(-1);
}

.questionLogo {
  position: absolute;
  top: 0;
  inset-inline-end: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionLogoImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionLogoTitle {
  text-align: center;
  color: #fff;
  font: 700 30px / 1 var(--font-a);
}

.questionLogoSubtitle {
  text-align: center;
  color: #fff;
  font: 600 30px / 1 var(--font-a);
  margin-bottom: 15px;
}

.questionBox {
  padding: 30px 25px 10px;
  border: 3px solid #fff;
  border-top-color: transparent;
  position: relative;
  width: 220px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
  position: relative;
  z-index: 1;
  min-height: min-content;
}

.questionBoxClock {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.questionBoxClock::before,
.questionBoxClock::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: calc(50% - 35px);
  height: 3px;
  background: #fff;
  top: calc(50% - 2px);
  transform: translate(0, -50%);
}

.questionBoxClock::before {
  left: -3px;
}

.questionBoxClock::after {
  right: -3px;
}

.questionBoxText {
  text-align: center;
  color: #fff;
  font: 600 24px / 1 var(--font-a);
}

.questionBoxTime {
  text-align: center;
  color: #fff;
  font: 700 32px / 1 var(--font-a);
}

.questionBoxTitle {
  font: 400 24px / 1 var(--font-a);
  color: #fff;
}

.questionBoxSubtitle {
  font: 400 16px / 25px var(--font-a);
  color: #fff;
  text-align: center;
}

.yellow {
  border-color: var(--yellow);
  border-top-color: transparent;
}

.yellow .questionBoxClock::before,
.yellow .questionBoxClock::after {
  background: var(--yellow);
}

.yellow * {
  color: var(--yellow);
}

.person {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  height: 200px;
}

:global(.rtl) .person {
  transform: translate(-50%, 0) scaleX(-1);
}

.questionContent {
  max-width: var(--container-width);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
}

.check {
  fill: #ed2374;
  height: 48px;
  width: 48px;
}

button {
  cursor: pointer;
}

.circle {
  width: 133px;
  height: 128px;
}

.clockSvg {
  width: 48px;
  height: 48px;
  fill: #fff;
}

.yellow .clockSvg {
  fill: #ffe700;
}

.questionAction {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
}

.addTimeButton {
  padding: 4px;
  max-width: 115px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #ed2374;
  color: #fff;
  font: 400 14px/1 var(--font-i);
}

.questionFooterWriting {
  display: block;
  margin: 0 auto 0 0;
}

@media (max-width: 1440px) {
  .questionFooterText {
    font: 400 28px / 1 var(--font-a);
  }

  .questionLogoSubtitle {
    margin-top: -10px;
  }

  .questionContainer {
    grid-template-rows: 1fr 80px;
  }
}

@media (max-width: 1200px) {
  .questionContainer {
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 60px;
  }

  .questionFooterText {
    font-size: 24px;
  }

  .check {
    width: 36px;
    height: 36px;
  }

  .questionBox {
    width: 180px;
    padding: 25px 15px 5px;
    width: 150px;
    height: 130px;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  .questionLogoImage {
    width: 80px;
  }

  .questionLogoTitle,
  .questionLogoSubtitle {
    font-size: 24px;
  }

  .questionAside {
    gap: 14px;
  }

  .questionBoxText,
  .questionBoxTitle,
  .questionBoxTime {
    font-size: 18px;
  }

  .questionBoxTime {
    font-size: 24px;
  }

  .questionBoxSubtitle {
    font-size: 14px;
  }

  .clockSvg {
    width: 36px;
    height: 36px;
  }

  .questionBoxClock::before,
  .questionBoxClock::after {
    width: calc(50% - 30px);
  }
}

@media (max-height: 760px) {
  .person {
    display: none;
  }
}
