.audioButton {
  cursor: pointer;
  transition: 0.2s ease;
  background: transparent !important;
  border-color: transparent;
  padding: 0 !important;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.active.audioButton {
  opacity: 0.7 !important;
}

.audioButton svg {
  width: 45px;
  height: 45px;
}

:global(.rtl) .audioButton {
  transform: scaleX(-1);
}

@media (max-width: 1200px) {
  .audioButton, .audioButton svg {
    width: 32px;
    height: 32px;
  }
}
