.content {
  padding: 20px;
  max-width: 700px;
  width: 700px;
  min-height: 522px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 30px;
  font: 700 32px/1 var(--font-i);
  text-align: center;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  max-width: 190px;
  width: 190px;
  padding: 10px;
  height: 56px;
  font: 400 22px/1 var(--font-i);
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.button:disabled {
  cursor: default;
  opacity: 0.7;
}

.cancelButton {
  border: 1px solid #ed2374 !important;
  color: #20487f !important;
  background: transparent !important;
}

.confirmButton {
  background: #ed2374 !important;
  color: #fff !important;
  border: 1px solid #ed2374 !important;
}
