.header {
  font: 600 32px/1 var(--font-a);
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answerContainers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answerContainer {
  background: #fff;
  padding: 10px;
}

.percents {
  color: #FFE700;
}

.answerContainerHeader {
  color: var(--blue-2);
  font: 600 32px/1 var(--font-a);
  border-bottom: 3px solid #0a294b2b;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.answers {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.answerNum {
  font: 600 12px/1 var(--font-a);
}

.answerSq {
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning .answerSq {
  background: #ffe700;
}

.correct .answerSq {
  background: #009a40;
}

.wrong .answerSq {
  background: #ed2374;
}

.check {
  fill: #000;
  width: 18px;
  height: 18px;
  display: none;
}

.check.active {
  display: inline-block;
}
