.container {
  background: #fff;
  padding: 10px;
}

.header {
  color: var(--blue-2);
  font: 600 32px/1 var(--font-a);
  border-bottom: 3px solid #0A294B2B;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.answers {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.answerNum {
  font-optical-sizing: 600 12px/1 var(--font-a);
}

.answerSq {
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning .answerSq {
  background: #FFE700;
}

.correct .answerSq {
  background: #009A40;
}

.wrong .answerSq {
  background: #ED2374;
}

.check {
  fill: #000;
  width: 18px;
  height: 18px;
  display: none;
}

.check.active {
  display: inline-block;
}