.pause {
  background: var(--main-background);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 168px 1fr 105px;
}

.pause-content {
  height: 100%;
  min-height: 0;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pause-content__icon-left {
  position: absolute;
  top: 0;
  left: 0;
}

.pause-content__icon-bottom {
  right: 0;
  bottom: 0;
  position: absolute;
}

.pause-content__details-container {
  max-width: var(--container-width);
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.pause-content__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pause-content__title {
  font: 700 96px/1 var(--font-a);
  color: var(--blue);
  text-align: center;
  margin-bottom: 40px;
}

.pause-content__box {
  position: relative;
  border: 3px solid var(--blue);
  max-width: 310px;
  width: 100%;
  height: 245px;
  border-top: none;
  padding: 45px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.pause-content__box-icon-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.pause-content__box-icon-container::before,
.pause-content__box-icon-container::after {
  content: "";
  display: inline-block;
  width: calc(50% - 48px);
  height: 3px;
  background: var(--blue);
  position: absolute;
  top: 50%;
  transform: 0, -50%;
}

.pause-content__box-icon-container::before {
  left: 0;
}

.pause-content__box-icon-container::after {
  right: 0;
}

.pause-content__box-title {
  color: var(--blue);
  font: 600 36px/1 var(--font-a);
  text-align: center;
  margin-bottom: 5px;
}

.pause-content__box-text {
  color: var(--blue);
  font: 600 20px/1 var(--font-a);
  text-align: center;
  margin-bottom: 15px;
}

.pause-content__box-time {
  text-align: center;
  color: var(--blue);
  font: 700 96px/1 var(--font-a);
}

.pause-content__text {
  text-align: center;
  color: var(--blue);
  font: 600 24px/1.2 var(--font-a);
  max-width: 600px;
}

.pause__footer {
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  font: 400 32px/1 var(--font-a);
}

.pause-content__person {
  position: absolute;
  bottom: 0;
  left: 20%;
  max-height: 100%;
}

@media (max-width: 1500px) {
  .pause-content__person {
    left: 0;
  }
}

@media (max-width: 1200px) {
  .pause-content__person {
    max-width: 500px;
  }
}

@media (max-width: 991px) {
  .pause-content__person {
    display: none;
  }

  .pause-content__details-container {
    justify-content: center;
  }
}
