.preview {
  background: var(--main-background);
  height: 100vh;
  display: grid;
  grid-template-rows: 168px 1fr 308px;
}

.preview-content {
  position: relative;
}

.preview-content-container {
  max-width: var(--container-width);
  width: calc(100% - 40px);
  display: flex;
  margin: 0 auto;
  justify-content: end;
  align-items: center;
  position: relative;
  height: 100%;
}

.preview-footer {
  position: relative;
  background: var(--blue);
  clip-path: polygon(0% 0%, 100% 45.5%, 100% 100%, 0% 100%);
}

.preview-footer__img {
  max-height: 100%;
  position: absolute;
  bottom: -65px;
  inset-inline-start: 10%;
}

.preview-content__title {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--blue);
  color: var(--blue);
  font: 700 96px/1 var(--font-a);
  position: relative;
}

.preview-content__left-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%);
  z-index: 1;
}

.preview-footer__bottom-svg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.preview-footer__text {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  text-align: center;
  color: var(--yellow);
  font: 600 40px/1 var(--font-i);
}

.preview-footer__back {
  position: relative;
}

@media (max-width: 1330px) {
  .preview-content__title {
    font-size: 56px;
  }

  .preview-footer__img {
    max-width: 700px;
    bottom: -120px;
  }
}

@media (max-width: 991px) {
  .preview-footer__img {
    max-width: 500px;
  }
}


@media (max-width: 768px) {
  .preview-content-container {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .preview-content__title {
    font-size: 32px;
    padding: 10px 20px;
  }
}