.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000080;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  position: absolute;
  inset-inline-end: 25px;
  top: 25px;
  transform: scale(1.5);
  cursor: pointer;
}

.modalWrapper {
  max-width: 80%;
  width: 1400px;
  width: 100%;
  max-height: 90%;
  background: #D2DAE5;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  margin-bottom: 30px;
  min-height: 0;
  height: 100%;
  overflow: auto;
}

.enter {
  text-align: center;
  font: 400 16px/1 var(--font-a);
}

.close {
  flex-shrink: 0;
  cursor: pointer;
  color: #fff;
  font: 400 22px/1 var(--font-a);
  text-align: center;
  background: #ED2374;
  border-radius: 50px;
  display: block;
  width: 190px;
  height: 50px;
  margin: 0 auto 20px;
}