.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000080;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  position: absolute;
  inset-inline-end: 25px;
  top: 25px;
  transform: scale(1.5);
  cursor: pointer;
}

.modalWrapper {
  max-width: 80%;
  width: 1000px;
  max-height: 90%;
}