.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #30326db2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.container.open {
  visibility: visible;
  opacity: 1;
}

.closeButton {
  position: absolute;
  inset-inline-end: 101%;
  bottom: 101%;
  cursor: pointer;
}

.content {
  position: relative;
}