.container {
  padding: 15px;
  background: #e8ecf1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 100%;
  min-height: 0;
  width: 100%;
  min-width: 0;
}

.container:nth-child(2) {
  background: #e4e6f3;
}

.container:nth-child(3) {
  background: #8949861f;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 3px solid #dec0de;
}

.headerText {
  font: 700 45px/1 var(--font-a);
  color: var(--blue);
}

.link {
  background: var(--blue-2);
  color: #fff;
  font: 400 20px/1 var(--font-a);
  padding: 2px 4px;
  display: block;
  width: max-content;
  margin-left: auto;
  padding: 4px 14px;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  overflow: auto;
  gap: 10px;
}

@media (max-width: 1280px) {
  .container {
    height: min-content;
  }
}