.container {
  height: 100vh;
  overflow: hidden;
  background: #e8ecf1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
