.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 20px;
  height: 100%;
  min-height: 0;
}

.allContainer {
  padding: 15px;
  height: 100%;
  min-height: 0;
  background: #d4e0ee;
}

.all {
  background: #d4e0ee;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  min-height: 0;
  overflow: auto;
}

.detailsContainer {
  width: 100%;
  min-height: 0;
  height: 100%;
}

.details {
  display: grid;
  grid-template-rows: 60px 1fr 116px;
  height: 100%;
  min-height: 0;
  max-width: 100%;
  min-width: 0;
}

.detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue-2);
  padding: 0 10px;
}

.detailsTitle {
  color: #fff;
  font: 700 32px/1 var(--font-a);
}

.content {
  padding: 10px;
  background: #d4e0ee;
  height: 100%;
  min-height: 0;
}

.detailsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
  background: var(--blue-2);
  overflow: auto;
}

.footerTexts {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerText {
  color: #fff;
  font: 600 32px/1 var(--font-a);
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerSq {
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  align-items: center;
  justify-content: center;
}

.check {
  fill: #ed2374;
  height: 48px;
  width: 48px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.helpRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.helpText {
  font: 400 16px/1 var(--font-a);
}

.answerSq {
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning .answerSq {
  background: #ffe700;
}

.correct .answerSq {
  background: #009a40;
}

.wrong .answerSq {
  background: #ed2374;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: 200px 1fr;
  }
}
