.container {
  display: grid;
  grid-template-rows: 186px 1fr 98px;
  width: 100%;
  height: 100vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

.content {
  max-width: var(--container-width);
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 100%;
  min-height: 0;
  padding: 20px 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

:global(.rtl) .arrow svg {
  transform: scaleX(-1);
}

.actionText {
  color: #fff;
  font: 400 20px / 1 var(--font-a);
}

.score {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.percent {
  font: 700 42px / 1.1 var(--font-a);
  color: #fff;
}

.num {
  font: 700 42px / 1.1 var(--font-a);
  color: var(--yellow);
}

.empty {
  width: 250px;
}

.footer {
  height: 100%;
  width: 100%;
  background: var(--blue);
}

@media (max-width: 1440px) {
  .score {
    justify-content: center;
    gap: 0px;
  }

  .container {
    grid-template-rows: auto 1fr 50px;
  }

  .headerContainer {
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-rows: 125px 1fr 60px;
  }

  .headerContainer {
    padding: 20px 20px;
  }

  .percent,
  .num {
    font-size: 32px;
  }

  .actions {
    transform: scale(0.7);
  }
}
