@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --blue: #30326d;
  --blue-1: #20487f;
  --blue-2: #0a294b;
  --font-a: "Assistant", sans-serif;
  --font-i: "Inter", sans-serif;
  --yellow: #ffe700;
  --container-width: 1340px;
  --error: #ed2374;
}

body.rtl {
  direction: rtl;
}