@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --blue: #30326d;
  --blue-1: #20487f;
  --preview-background: linear-gradient(
    270deg,
    #ffffff -2.29%,
    #e9c3f8 58.69%,
    #9b7db5 100%
  );
  --font-a: "Assistant", sans-serif;
  --font-i: "Inter", sans-serif;
  --yellow: #ffe700;
  --intro-background: #e8ecf1;
  --grey: #aab0d8;
  --pink: #e9c3f8;
}

html, body {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.page-container {
  height: 100vh;
  width: 100vw;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--intro-background);
  width: 100%;
}

.intro-window {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #fff;
  position: relative;
}

.intro-head {
  background: var(--blue);
  position: relative;
  height: 154px;
  padding-inline-start: 34px;
  display: flex;
  align-items: center;
}

.intro-head svg {
  position: absolute;
  top: 0;
  right: -4px;
}

.intro-head__img-container {
  height: 193px;
  width: 193px;
  border-radius: 50%;
  position: relative;
  background: var(--grey);
  top: 35px;
  margin-right: 40px;
  align-self: start;
}

.intro-head__title {
  color: var(--yellow);
  font: 700 48px/1 var(--font-i);
}

.intro-contnt__svg {
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
}

.intro-content {
  padding-top: 114px;
  padding-inline-end: 40px;
  padding-inline-start: 200px;
  padding-bottom: 20px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro-content__text {
  color: var(--blue-1);
  font: 300 25px/1.3 var(--font-i);
  border-inline-start: 5px solid var(--yellow);
  padding-inline-start: 16px;
}

.question-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 345px;
  grid-template-rows: 1fr 105px;
}

.question-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-height: 0; 
  min-width: 0;
}

.question-aside {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.question-footer {
  grid-column: 2 / 3;
  grid-column: 1 / 2;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
  overflow: auto;
}

.question__text-container,
.question__answer-head {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.question__answer-title {
  font: 700 24px/1 var(--font-a);
}

.question__answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__answer {
  font: 400 24px/1 var(--font-a);
}

.question__choice {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 0px 10px 2px #a2a2a240;
}

.question__choice-text {
  color: var(--blue-1);
  font: 700 32px/1 var(--font-i);
}

.question__choice-input-container {
  width: 52px;
  height: 52px;
  border: 3px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.question__choice-input {
  color: var(--blue-1);
  font: 700 32px/1 var(--font-i);
  height: 32px;
  width: 20px;
}

.question-footer {
  background: var(--blue);
  padding: 20px;
  padding-inline-end: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.question__footer-text {
  color: #fff;
  font: 400 32px/1 var(--font-i);
  text-align: center;
}

.question__footer-btns {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.question__footer-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.question__voice {
  cursor: pointer;
}

.question-aside {
  background: var(--blue-1);
  position: relative;
  display: flex;
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
}

.question-aside__trig-top {
  position: absolute;
  top: 0;
}

.question-aside__trig-bottom {
  position: absolute;
  bottom: 0;
}

.question-aside__logo-container {
  position: absolute;
  top: 0;
  right: 50px;
}

.question-aside__logo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-aside__person {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.question-aside__title {
  text-align: center;
  color: #fff;
  font: 700 36px/1 var(--font-a);
  margin-bottom: 20px;
}

.question-aside__text {
  text-align: center;
  color: #fff;
  font: 600 36px/1 var(--font-a);
  margin-bottom: 40px;
}

.question-aside__box {
  padding: 35px 25px 10px;
  border: 3px solid #fff;
  position: relative;
  width: 245px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-aside__box:not(.yellow) {
  gap: 8px;
}

.question-aside__box.yellow {
  border-color: var(--yellow);
}

.question-aside__box:not(.yellow) {
  margin-bottom: 40px;
}

.question-aside__box-icon-containers {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: var(--blue-1);
}

.question-aside__box-text {
  text-align: center;
  color: #fff;
  font: 600 32px/1 var(--font-a);
}

.question-aside__box-time {
  text-align: center;
  color: #fff;
  font: 700 32px/1 var(--font-a);
}

.question-aside__box.yellow .question-aside__box-text {
  color: var(--yellow);
  font-weight: 400;
  margin-bottom: 5px;
}

.question-aside__box.yellow .question-aside__box-note {
  color: var(--yellow);
  font: 400 16px/25px var(--font-a);
  font-size: 16px;
}

.question-aside__box.yellow .question-aside__box-time {
  color: var(--yellow);
  font: 700 48px/1 var(--font-a);
}